/*
Syntax error: File to import not found or unreadable: foundation.
              Load path: /Users/fjs6/Desktop/cf/week1/ZurbyStore/app/assets/stylesheets
        on line 2 of ./framework_and_overrides.css.scss

1: // import the CSS framework
2: @import "foundation";
3: 
4: // override for the 'Home' navigation link
5: .top-bar .name {
6:   font-size: rem-calc(13);
7:   line-height: 45px; }

Backtrace:
./framework_and_overrides.css.scss:2
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin.rb:107:in `method_missing'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/exec.rb:463:in `watch_or_update'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/fjs6/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/bin/sass:13:in `<top (required)>'
/Users/fjs6/.rvm/gems/ruby-2.1.2/bin/sass:23:in `load'
/Users/fjs6/.rvm/gems/ruby-2.1.2/bin/sass:23:in `<main>'
/Users/fjs6/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/fjs6/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation.\A               Load path: /Users/fjs6/Desktop/cf/week1/ZurbyStore/app/assets/stylesheets\A         on line 2 of ./framework_and_overrides.css.scss\A \A 1: // import the CSS framework\A 2: @import \"foundation\";\A 3: \A 4: // override for the 'Home' navigation link\A 5: .top-bar .name {\A 6:   font-size: rem-calc(13);\A 7:   line-height: 45px; }"; }
