td.smallish{
  font-size: 0.65em;
  text-align: center;

}

.top-bar{
  margin-bottom: 1em;
}

label.right {
  padding-right: 10px;
}

#zurbyexp{
  padding-top: 1em;
  p{
    font-size: smaller;
  }
}

.view_head{
  color: #212D48;
}
