<%# add navigation links to this file %>
<div class='right gutter'>
  <%= link_to "How to bread", products_path %>
</div>
<div class='right'>
  <%= link_to "Don't feed at night!", products_path %>
</div>
